<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portal Berita M.Bima Andika</title>
  <link rel="stylesheet" href="projek2.css">
</head>
<body>
  
  <header>
    <h1>Portal Berita Bima</h1>
    <p>Update Berita Terbaru & Harus di Percaya</p>
  </header>
  
  <div class="scrollingtext">
    <marquee>Berita Baru: Seorang Siswa Smkn 1 Surabaya Bernama Bima Telah Membuat Web Beritanya Sendiri! Update: Web ini Hanya Menggunakan HTML & CSS!</marquee>
  </div>
  
  <nav>
    <a href="#Nasional">Nasional</a>
    <a href="#Internasional">Internasional</a>
    <a href="#Olahraga">Olahraga</a>
    <a href="#Teknologi">Teknologi</a>
  </nav>
  
  <div class="container">
    
    <section id="Nasional">
      <h2>Berita Nasional</h2>
      <div class="grid-berita">
        <a href="https://www.detik.com/jatim/berita/d-8042624/fenomena-bendera-one-piece-akademisi-kekecewaan-generasi-muda" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://akcdn.detik.net.id/community/media/visual/2025/07/31/heboh-di-media-sosial-warga-di-sejumlah-wilayah-di-indonesia-mengibarkan-bendera-one-piece-menjelang-hut-ri-17-agustus-tangkap-1753939757952_169.jpeg?w=600&q=90" alt="Berita Nasional 1">
            <div class="teksnya">
              <h3>Fenomena Bendera One Piece, Akademisi: Kekecewaan Generasi Muda</h3>
              <small>Minggu, 03 Agu 2025 14:00 WIB</small>
              <p>Heboh di media sosial warga di sejumlah wilayah di Indonesia mengibarkan bendera One Piece menjelang HUT RI 17 Agustus...</p>
            </div>
          </div>
        </a>
        <a href="https://nasional.kompas.com/read/2025/08/06/18504981/kemenko-pmk-bertemu-delegasi-kamboja-bahas-perlindungan-wni-dari-bencana" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://asset.kompas.com/crops/BMDvAuntH216XXgPp5FnZxPP7Mo=/20x13:2250x1499/1200x800/data/photo/2025/08/06/68934141c3eb7.jpeg" alt="Berita Nasional 2">
            <div class="teksnya">
              <h3>Kemenko PMK Bertemu Delegasi Kamboja Bahas Perlindungan WNI dari Bencana Alam</h3>
              <small>Rabu, 6 Agustus 2025, 18:50 WIB</small>
              <p>Pihak Kementerian Koordinator Bidang Pembangunan Manusia dan Kebudayaan (PMK) bertemu delegasi Kamboja membahas perlindungan WNI dari bencana alam di Kamboja...</p>
            </div>
          </div>
        </a>
      </div>
    </section>

    <section id="Internasional">
      <h2>Berita Internasional</h2>
      <div class="grid-berita">
        <a href="https://internasional.kompas.com/read/2025/08/02/050000270/saat-trump-ngambek-tak-dapat-terima-kasih-soal-bantuan-ke-gaza-" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://asset.kompas.com/crops/wbKS5AMY15zjBiHPNe9XiWthVBA=/0x0:1914x1276/1200x800/data/photo/2025/05/05/681884361d14f.jpg" alt="Berita Internasional 1">
            <div class="teksnya">
              <h3>Saat Trump Ngambek Tak Dapat Terima Kasih soal Bantuan ke Gaza</h3>
              <small>Sabtu, 2 Agustus 2025, 05:00 WIB</small>
              <p>Presiden Amerika Serikat Donald Trump mengungkapkan kekecewaannya atas minimnya apresiasi terhadap bantuan pangan senilai puluhan juta dollar AS yang telah dikirimkan ke Gaza...</p>
            </div>
          </div>
        </a>
        <a href="https://internasional.kompas.com/read/2025/07/22/161320270/derita-sarah-siswi-berprestasi-di-gaza-jangankan-sekolah-hidup-pun" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://asset.kompas.com/crops/EKAePZFsTscyoSpscdLmOUDgmDM=/0x0:2000x1333/1200x800/data/photo/2025/07/22/687f4ec8c08f1.jpg" alt="Berita Internasional 2">
            <div class="teksnya">
              <h3>Derita Sarah Siswi Berprestasi di Gaza: Jangankan Sekolah, Hidup Pun Susah</h3>
              <small>Selasa, 22 Juli 2025, 16:13 WIB</small>
              <p>Dua tahun lalu, Sarah Qanan adalah siswi berprestasi di bangku SMA. Remaja 18 tahun tersebut kala itu sedang mempersiapkan ujian akhir dengan satu cita-cita besar, menjadi dokter...</p>
            </div>
          </div>
        </a>
      </div>
    </section>

    <section id="Olahraga">
      <h2>Berita Olahraga</h2>
      <div class="grid-berita">
        <a href="https://sport.detik.com/sepakbola/liga-inggris/d-8048047/arsenal-dapat-kabar-bagus-jelang-hadapi-man-united" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://akcdn.detik.net.id/community/media/visual/2025/07/21/gabriel-magalhaes-1753058027918_169.jpeg?w=600&q=90" alt="Berita Olahraga 1">
            <div class="teksnya">
              <h3>Arsenal Dapat Kabar Bagus Jelang Hadapi Man United</h3>
              <small>Rabu, 06 Agustus 2025 19:45 WIB</small>
              <p>Arsenal menghadapi Manchester United pada pekan pertama Liga Inggris musim ini. The Gunners mendapat kabar baik menatap laga itu...</p>
            </div>
          </div>
        </a>
        <a href="https://sport.detik.com/moto-gp/d-8048203/marc-marquez-dan-bagnaia-jajal-sirkuit-baru-motogp" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://akcdn.detik.net.id/community/media/visual/2025/08/06/marc-marquez-1754473531614_169.jpeg?w=600&q=90" alt="Berita Olahraga 2">
            <div class="teksnya">
              <h3>Marc Marquez dan Bagnaia Jajal Sirkuit Baru MotoGP</h3>
              <small>Rabu, 06 Agustus 2025 20:20 WIB</small>
              <p>Ducati menggelar tes di Batalon Park, Hungaria. Marc Marquez dan Francesco Bagnaia juga ambil bagian dalam tes itu...</p>
            </div>
          </div>
        </a>
      </div>
    </section>

    <section id="Teknologi">
      <h2>Berita Teknologi</h2>
      <div class="grid-berita">
        <a href="https://tekno.kompas.com/read/2025/08/06/19224607/5g-tulang-punggung-transformasi-digital-indonesia" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://asset.kompas.com/crops/8kpPCuH_FHlu_2_E1ABRthoRBB4=/162x0:1242x720/1200x800/data/photo/2025/08/06/689348a8e1948.jpg" alt="Berita Teknologi 1">
            <div class="teksnya">
              <h3>5G, Tulang Punggung Transformasi Digital Indonesia</h3>
              <small>Rabu, 6 Agustus 2025, 19:22 WIB</small>
              <p>INDONESIA berada di ambang revolusi digital. Dengan ekonomi digital terbesar di Asia Tenggara dan populasi yang muda dan melek teknologi...</p>
            </div>
          </div>
        </a>
        <a href="https://tekno.kompas.com/read/2025/08/06/19020067/apple-music-android-makin-mirip-versi-ios-ada-fitur-terjemahan-lirik-dan" target="_blank" class="kumpulanberita">
          <div class="beritanya">
            <img src="https://asset.kompas.com/crops/D4RUNYaXZKqpkxVdBT9Her-IJk0=/0x0:1080x720/1200x800/data/photo/2025/08/06/6892d26991054.jpg" alt="Berita Teknologi 2">
            <div class="teksnya">
              <h3>Apple Music Android Makin Mirip Versi iOS, Ada Fitur Terjemahan Lirik dan Statistik Musik</h3>
              <small>Rabu, 6 Agustus 2025, 19:02 WIB</small>
              <p>Apple resmi merilis Apple Music 5.0 versi beta untuk pengguna Android. Melalui versi beta terbaru ini, Apple mulai menghadirkan sejumlah fitur anyar yang sebelumnya hanya tersedia di iOS...</p>
            </div>
          </div>
        </a>
      </div>
    </section>

  </div>
  
  <footer>
    <p>&copy; 2025 Portal Berita Bima. Ini Punya Bima</p>
  </footer>
  
</body>
</html>