<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buku Favorit Bima</title>
  <link rel="stylesheet" href="projek3.css">

</head>
<body>
  
  <div class="navbar">
    <div class="propil">
      <img src="https://www.smkn1-sby.sch.id/storage/images/logo/default.jpg" alt="Logo Smkn 1 Sby">
      <div class="teks">
        <span class="judul">SMKN 1 SURABAYA</span>
        <span class="subjudul">Perpustakaan Smkn 1 Surabaya</span>
      </div>
    </div>
  </div>
  
  <table>
    <tr>
      <th>No</th>
      <th>Nama Buku</th>
      <th>Penerbit</th>
    </tr>
    <tr>
      <td>1.</td>
      <td>Altar Suci</td>
      <td>DIVA Press</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Ther Melian</td>
      <td>PT Elex Media Komputindo</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Negeri 5 Menara</td>
      <td>Gramedia</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>Sang Pemimpi</td>
      <td>Bentang Pustaka</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>Laskar Pelangi</td>
      <td>Bentang Pustaka</td>
    </tr>
  </table>
  
</body>
</html>